#hero-section{
    background-image: url("../img/hero-img.jpg"), linear-gradient(rgba(0, 0, 0, 0.315),rgba(0, 0, 0, 0.315));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#service-section .card{
    width: 22% !important;
}
/* contact css */
.contact-img-part{
    width: 40%;
}
.contact-form-part{
    width: 40%;
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    #service-section .card{
        width: 45% !important;
    }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #service-section .card{
        width: 100% !important;
    }
    .contact-img-part{
        display: none;
    }
    .contact-form-part{
        width: 100%;
        padding: 0 10px 0 10px;
    }
}